<audio id="audioPlayer">
 <source src="<%= asset_path('AThousandMiles.mp3') %>" type="audio/mpeg""> 
</audio>



<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default" id="panel">
      <div class="panel-heading text-center">
       <h2><em id="panelHead"></em></h2> <em id="timeText">0.0</em>
      </div>
      <div class="panel-body">
		  <img src="" height="600" width="900" id="panelBody"/>
      </div>
     </div>
  </div>
</div>
