<center>
<input type="button" onclick="command('GO');" value="Press Me!" id="btn_go" class="btn" style="visibility:hidden">
<br/>
<input type="button" onclick="master_init();" value="connect" id="btn_connect">
</center>
<p><em id="timeText">0.0</em>
<p><em id="serverInfo"></em>
<p><em id="time"></em></p>
<p><em id="timeGap"></em></p>
<p><em id="responesTime"></em></p>
<p><em id="ws_status"></em></p>