<audio id="audioPlayer">
 <source src="<%= asset_path('cantTakeMyEyeOffU_cut.mp3') %>" type="audio/mpeg""> 
</audio>

<input type="button" onclick="command('GO');" value="GO" disabled id="btn_go">
<input type="button" onclick="command('PAUSE');" value="PAUSE" disabled id="btn_pause">
<input type="button" onclick="master_init();" value="connect" id="btn_connect">
<p><em id="timeText">0.0</em>
<p><em id="serverInfo"></em>
<p><em id="time"></em></p>
<p><em id="timeGap"></em></p>
<p><em id="responesTime"></em></p>