<audio id="audioPlayer">
 <source src="<%= asset_path('cantTakeMyEyeOffU.mp3') %>" type="audio/mpeg""> 
</audio>


<table>
	<tr>
		<td id="td1_1"></td>
		<td id="td1_2"></td>
		<td id="td1_3"></td>
		<td id="td1_4"></td>
		<td id="td1_5"></td>
		<td id="td1_6"></td>
		<td id="td1_7"></td>
	</tr>
	<tr>
		<td id="td2_1"></td>
		<td id="td2_2"></td>
		<td id="td2_3"></td>
		<td id="td2_4"></td>
		<td id="td2_5"></td>
		<td id="td2_6"></td>
		<td id="td2_7"></td>
	</tr>
	<tr>
		<td id="td3_1"></td>
		<td id="td3_2"></td>
		<td id="td3_3"></td>
		<td id="td3_4"></td>
		<td id="td3_5"></td>
		<td id="td3_6"></td>
		<td id="td3_7"></td>
	</tr>
	<tr>
		<td id="td4_1"></td>
		<td id="td4_2"></td>
		<td id="td4_3"></td>
		<td id="td4_4"></td>
		<td id="td4_5"></td>
		<td id="td4_6"></td>
		<td id="td4_7"></td>
	</tr>
	<tr>
		<td id="td5_1"></td>
		<td id="td5_2"></td>
		<td id="td5_3"></td>
		<td id="td5_4"></td>
		<td id="td5_5"></td>
		<td id="td5_6"></td>
		<td id="td5_7"></td>
	</tr>
	<tr>
		<td id="td6_1"></td>
		<td id="td6_2"></td>
		<td id="td6_3"></td>
		<td id="td6_4"></td>
		<td id="td6_5"></td>
		<td id="td6_6"></td>
		<td id="td6_7"></td>
	</tr>
	<tr>
		<td id="td7_1"></td>
		<td id="td7_2"></td>
		<td id="td7_3"></td>
		<td id="td7_4"></td>
		<td id="td7_5"></td>
		<td id="td7_6"></td>
		<td id="td7_7"></td>
	</tr>
</table
</br>
<p><em id="timeText">0.0</em></p>
<br/>
<input type="button" value="Play" onClick="play()">
<input type="button" value="Pause" onClick="pause()">
<input type="button" value="Stop" onClick="stop()">
